table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

table{
  margin-top: 50px;
}

textarea{
  float: left;
}

.saveButton{
  margin-left: 20px;
  width: 60px;
}